<form class="form" [formGroup]="contactForm" (ngSubmit) ="submitted()">
<label for="name">Name</label>
    <input type="text" formControlName="name">
    <span *ngIf="isSubmitted && contactForm.controls.name.errors">Is required and need to be more than 3 characters</span>

<label for="surname">Surname</label>
    <input type="text" formControlName="surname">
    <span *ngIf="isSubmitted && contactForm.controls.name.errors">Is required and need to be more than 5 characters</span>

<label for="age">Age</label>
    <input type="number" formControlName="age">
    <span *ngIf="isSubmitted && contactForm.controls.name.errors">Is required and need to be more than 5 characters</span>

<label for="email">Email</label>
    <input type="text" formControlName="email"> 
    <span *ngIf="isSubmitted && contactForm.controls.name.errors">Email is not type email</span>

<label for="textarea">Description</label>
    <textarea formControlName="description"></textarea>

    <input type="submit" value="Send">
</form>

<!-- 
Email -> de tipo email
Apellidos - > minLength 5  maxLength 64
Edad -> min 18 max 99 -->