<div class="row d-flex justify-content-center">
    <div class="col-6">
        <img class="b-image-frame" src="./assets/images/Snake_Planet.png" alt="">
    </div>
</div>

<app-gallery-locations [locationList]="locations"></app-gallery-locations>