.navMenu {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
}

.link {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    margin-top: 40px;
    margin-left: 40px;
    color: red;
    text-decoration: none;

    &__selected {
        background-color: lightblue;
        border-bottom: 2px solid red;
    }
}
