
<nav class="navMenu">
    <a class="link" routerLinkActive="link__selected" [routerLinkActiveOptions]="{ exact: true }" routerLink='/'>Home</a>
    <a class="link" routerLinkActive="link__selected" routerLink="/characters">Characters</a>
    <a class="link" routerLinkActive="link__selected" routerLink="/contact">Contact</a>
    <a class="link" routerLinkActive="link__selected" routerLink="/favourites">Favourites</a>
    <a class="link" routerLinkActive="link__selected" routerLink="/locations">Locations</a>

</nav>
