<div class="container">
    <div class="row">
        <div class="col-12 col-sm-6 col-md-3" *ngFor="let item of list">
            <div routerLink="/characters/{{item.id}}" class="card" >
                <button (click)="addToFavorites(item)">Add to favorites</button>
                <img src="{{item.image}}" alt="">
                
                <h3>{{item.name}}</h3>
                
            </div>
        </div>
    </div>  
</div>